html,
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.heading img{
  display: block;
   width: 100px;
   height: 70px;
   margin-left: auto;
   margin-right: auto;
}
h1{
    text-align: center;
}
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
button{
    margin-top: 20px;
}